 /*Footer end*/
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

video#bgvid {

position: absolute;

top: 50%;

left: 50%;

width: 100%;

min-width: auto;

min-height: auto;

width: auto;

height: auto;

z-index: -100;

-webkit-transform: translateX(-50%) translateY(-50%);

transform: translateX(-50%) translateY(-50%);

background: #fff no-repeat;

background-size: cover;

}



@media screen and (max-device-width: 300px) {

body { background: url() #000 no-repeat center center fixed; }

#bgvid { display: none; }

}

